@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Noto+Sans+JP:wght@400;700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

font-family:
'Noto Sans JP',
sans-serif;

color:#222;

line-height:1.8;

}



header{

position:fixed;

top:0;

width:100%;

background:white;

z-index:10;

border-bottom:1px solid #eee;

}



nav{

max-width:1100px;

margin:auto;

padding:20px;

display:flex;

justify-content:space-between;

align-items:center;

}



nav h1{

font-size:20px;

letter-spacing:3px;

}



nav ul{

display:flex;

gap:30px;

list-style:none;

}



nav a{

text-decoration:none;

color:#222;

font-size:14px;

}





.hero{

height:100vh;

display:flex;

align-items:center;

max-width:1100px;

margin:auto;

padding:80px 20px;

}



.en{

font-size:14px;

letter-spacing:3px;

}



.hero h2{

font-size:42px;

line-height:1.5;

margin:30px 0;

}



.hero p{

max-width:600px;

}



.button{

display:inline-block;

margin-top:40px;

padding:15px 35px;

background:#111;

color:white;

text-decoration:none;

}





.section{

max-width:1100px;

margin:auto;

padding:100px 20px;

}



.section h2{

font-size:32px;

margin-bottom:50px;

letter-spacing:2px;

}





.gray{

background:#f7f7f7;

max-width:none;

padding-left:calc((100% - 1100px)/2);

padding-right:calc((100% - 1100px)/2);

}




.about-box{

max-width:700px;

}




.cards{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:30px;

}



.card{

background:white;

padding:35px;

border:1px solid #ddd;

}



.card h3{

margin-bottom:20px;

font-size:18px;

}





.work{

border-bottom:1px solid #ddd;

padding:40px 0;

}



.work h3{

font-size:22px;

margin-bottom:20px;

}



.result{

margin-top:20px;

font-weight:bold;

}





.career p{

margin-bottom:40px;

}





.contact{ß

text-align:center;

}

.profile{
    width:180px;
    height:180px;
    object-fit:cover;
    border-radius:50%;
}


footer{

text-align:center;

padding:30px;

font-size:13px;

}





@media(max-width:768px){


nav ul{

display:none;

}


.hero h2{

font-size:30px;

}



.cards{

grid-template-columns:1fr;

}



.gray{

padding-left:20px;

padding-right:20px;

}


}

.work-images{

display:flex;

gap:20px;

margin-top:30px;

}


.work-images img{

width:30%;

height:auto;

object-fit:cover;

border-radius:8px;

border:1px solid #ddd;

}